<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button class=" btn btn-link" routerLink="/"> На главную</button>
    </div>
    <div class="info">
        <strong>Автор...</strong>
        <small>12/09/2022</small>
    </div>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic voluptatibus ducimus amet nostrum minima quaerat earum consectetur veniam repellat aut. Veritatis minus dolore consequatur iusto odio ipsum voluptate magni libero? Nobis, accusantium enim voluptatum
        vero nulla quasi, reprehenderit minus atque necessitatibus placeat veritatis dignissimos maiores voluptatem consectetur pariatur cumque quia autem quaerat eligendi dolorem? Sapiente porro aperiam explicabo accusantium corrupti? Commodi tempore
        quidem mollitia dolorem sapiente, nesciunt dolorum quibusdam sint eum minus fugit facilis vel voluptas rem deleniti totam tempora maiores voluptates atque corporis asperiores molestiae eius esse. Architecto, fugit. Itaque unde necessitatibus optio
        vel ratione. A debitis vitae dolores similique, enim voluptatum veniam, minima exercitationem laborum optio perspiciatis? Maxime nisi officia voluptatibus neque in cumque, quae sed adipisci eum. Repellat alias inventore ut nobis distinctio ipsam
        illum fugit facere et cupiditate. Voluptatem totam temporibus soluta corporis aperiam atque veniam quisquam iusto, possimus distinctio exercitationem at architecto tempora neque sunt. Nisi, sunt commodi? Dolorum, ullam harum, eum porro amet itaque
        consequuntur unde mollitia beatae illo enim quas? Atque, labore autem! Obcaecati, molestiae cupiditate eum accusamus dicta id maxime laboriosam saepe? Reiciendis vero ab cumque! Iure incidunt rerum quas autem asperiores obcaecati error non aliquid,
        repellendus quam magni dolorum ipsa ad ducimus in sequi sit porro! Ipsam autem delectus deserunt deleniti! Repudiandae nihil, nobis a iste incidunt itaque! Doloribus, quia unde, beatae ex asperiores ut dolor nam quas laudantium architecto pariatur
        recusandae consequatur perspiciatis adipisci nisi aperiam autem maxime obcaecati impedit! Nihil doloribus fugit magnam odit accusantium expedita recusandae! Nesciunt quis dolore nulla accusamus odit asperiores consequuntur, itaque suscipit. D
    </div>
</div>