<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Войти в панель Администратора</h2>
    <div class="form-control" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
        <label for="email">Email:</label>
        <input type="email" formControlName="email">
        <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
            <small *ngIf="form.get('email').errors.required">Email required</small>
            <small *ngIf="form.get('email').errors.email">Incorrect Email</small>
        </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
        <label for="password">Password:</label>
        <input type="password" formControlName="password">
        <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
            <small *ngIf="form.get('password').errors.required">Password required</small>
            <small *ngIf="form.get('password').errors.minlength">Password required more than
                {{form.get('password').errors.minlength.requiredLength}} symbols. Now its
                {{form.get('password').errors.minlength.actualLength}} symbols.
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Войти</button>
</form>